# yii console comman
/yii

# sublime project files
*.sublime-project
*.sublime-workspace
.phpintel

# phpstorm project files
.idea

# netbeans project files
nbproject

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store
.settings/
.project

# Eclipse editor
.buildpath
.project
.settings/

# phpunit itself is not needed
phpunit.phar

# Eclipse Project
.buildpath

# local phpunit config
/phpunit.xml

# ignore runtime
/runtime/*

# composer vendor dir
/vendor/*

*.psd
# ebextension files
.ebextensions/00-increase-timeout.config
.ebextensions/05-vhost-ebn-developer.config
.elasticbeanstalk/saved_configs/

# cofig test file
tests/codeception/config/config.php
tests/codeception/config/runtime/logs
tests/codeception/config/runtime

#config local
config/web-local.php
config/console-local.php
config/params-local.php
config/db.php
config/db2.php
web/index-test.php
web/index.php
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
curut.txt

.ebextensions/03-composer.config
=======
# excel report
web/excel_report/*
