container_commands:
   1_updatecomposer:
      command: "composer.phar self-update"
      ignoreErrors: true
   2_getcomposer:
     command: "composer.phar install --no-dev -o"
   3_setchmod:
     command: "chmod 777 -r ./storage && chmod 777 -r ./bootstrap/cache"
commands:
  echo_test_command:
    command: "echo test"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/preinit/99_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/ondeck
      yum  -y update
      yum  -y install nginx php56-pecl-imagick php56-pecl-memcached php56-fpm mc
