files:
  "/opt/elasticbeanstalk/hooks/preinit/99_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/ondeck
      yum  -y update
      yum  -y install nginx php56-pecl-imagick php56-pecl-memcached php56-fpm mc
