files:
   "/opt/elasticbeanstalk/hooks/preinit/06_install_nginx.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         yum -y update
         yum -y install nginx php56-fpm
   "/opt/elasticbeanstalk/hooks/appdeploy/pre/06_install_nginx.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         #cd /var/app/current
         cd /var/app/ondeck
         mkdir -p /etc/nginx/conf.d
         cp -f .ebextensions/02-vhost.conf /etc/nginx/conf.d/02-vhost.conf
         rm -rf /etc/nginx/nginx.conf
         cp -f .ebextensions/nginx.conf   /etc/nginx/nginx.conf
         #Make sure that apache is killed
         service httpd stop  
         service nginx restart
         service php-fpm restart
   "/opt/elasticbeanstalk/hooks/appdeploy/post/02_monitor_nginx_pid.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         set -xe
         chmod 0755 /var/run/httpd
         /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx
