files:
   "/opt/elasticbeanstalk/hooks/preinit/99_install_nginx.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         yum -y update
         yum -y install nginx php56-fpm
   "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_nginx_conf.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         cd $EB_APP_STAGING_DIR
         mkdir -p /etc/nginx/conf.d
         cp -f .ebextensions/site.conf /etc/nginx/conf.d/site.conf
         #Make sure that apache is killed
         service httpd stop  
         service nginx restart
         service php-fpm restart
   "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         set -xe
         chmod 0755 /var/run/httpd
         /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx
