commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
   01optimize_composer:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
   02install_composer_asset:
      command: "/usr/bin/composer.phar global require fxp/composer-asset-plugin:~1.1.1"
   03composer_install:
      command: "/usr/bin/composer.phar install"
