commands:
   01_update_composer:
      command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
   02_install_composer_asset:
      command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar global require fxp/composer-asset-plugin"

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:
   01_optimize_composer:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
   02_install_composer_asset:
      command: "/usr/bin/composer.phar global require fxp/composer-asset-plugin"
   03_composer_install:
      command: "/usr/bin/composer.phar install"
